body{
    /* font-family: "SF Pro Display","Helvetica Neue","Helvetica","Arial",sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}
#title{
    font-size:2em;
    font-weight: bolder;
    background: linear-gradient(to right, #fff,#aaa);
    text-align: center;
    margin:10px 0px;
}
.window{
    display:inline-block;
    width:90vw;
    text-align: center;
}
.wrapper{
    position:relative;
    height:800px;
    width:500px;
    background: linear-gradient(rgb(194, 194, 194),rgb(148, 147, 147));
    display:inline-block;
}

.mask{
    display:block;
    position: absolute;
    height:100%;
    width:100%;
    /* background-image: url("../../image/PAC_BodyMask.png"); */
    /* background-color:red; */
    /* background:linear-gradient(rgb(223, 72, 12) 48%,rgb(236, 234, 87) 92%); */
    background: linear-gradient(rgb(223, 72, 12) 7%,rgb(236, 234, 87) 20%,rgb(223,72,12) 40%,rgb(223,72,12) 60%,rgb(236,234,87) 90%);
    /* mask-image: url("./PAC_BodyMask.png"); */
    /* -webkit-mask-image: url("./PAC_BodyMask.png"); */
    mask-image: url("./PAC_BodyMask_MH.png");
    -webkit-mask-image: url("./PAC_BodyMask_MH.png");
    mask-size: cover;
    -webkit-mask-size: cover;

}

.parts{
    display: block;
    position:absolute;
    /* background-image:url("./PAC_Parts.png"); */
    background-image:url("./PAC_Parts_MH.png");
    background-size:cover;
    /* height:100%;
    width:100%;
    left:16px;
    top:-19px; */
    height:96.5%;
    width: 96.5%;
    left:17px;
    top:21px;
}

.parts-bl.enable{
    display: block;
    position:absolute;
    background-image:url("./PAC_Parts_Black.png");
    background-size:contain;
    background-repeat: no-repeat;
    height:23.5%;
    width: 100%;
    left:209px;
    top:485px;
}

/* .background{
    display:block;
    position:absolute;
    background:linear-gradient(#000,#fff);
    top:48%;
    left:0%;
    width:1000px;
    bottom:8%;
} */


.ui{
    display:inline-block;
    position:absolute;
    width:500px;
    height:800px;
    font-size: 1.5em;
    border:2px outset rgb(78, 78, 78);
    /* overflow:scroll; */
}

.console{
    height: 0px;
    width: 0px;
    border-right: 500px solid #000000;
    border-bottom: 40px solid rgb(199, 199, 199);
    white-space: nowrap;
    color: white;
}

.switchcolor{
    position: absolute;
    width:100%;
    height:5%;
    text-shadow: 1px 1px 1px  rgb(0, 0, 0);
}

.item-wrapper{
    height:95%;
    overflow:scroll;
    
}